body {
    background: url('../image/background.jpg') no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
}
.form{
    background: rgba(255,255,255,0.2);
    width:500px;
    margin:120px auto;
}
/*阴影*/
.fa{
    display: inline-block;
    top: 27px;
    left: 6px;
    position: relative;
    color: #ccc;
}
input[type="text"],input[type="password"]{
    padding-left:26px;
}
.checkbox{
    padding-left:21px;
}
.font{
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}