<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>题库后台管理系统</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    <script src="/webjars/vue/2.6.11/vue.min.js"></script>
    <script src="/webjars/axios/0.19.2/dist/axios.js"></script>
    <script src="js/my.js"></script>
    <link rel="stylesheet" href="./plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="./plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="./plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="./plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="./plugins/select2/select2.css">
    <link rel="stylesheet" href="./plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="./plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="hold-transition skin-purple sidebar-mini">

    <div class="wrapper" id="main">
        <!-- 页面头部 -->
        <header class="main-header">

        <!-- Logo -->
        <a href="all-admin-index.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>题库</b>后台管理</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </nav>
    </header>
        <!-- 页面头部 /-->
        <!-- 导航侧栏 -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel" style="height: 50px">
                    <div class="pull-left info" id="username">
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">菜单</li>
                    <li id="admin-index"><a href="home.html"><i class="fa fa-dashboard"></i> <span>首页</span></a></li>
                    <!-- 菜单 -->
                    <li>
                        <a href="userlist.html">
                    <i class="fa fa-user"></i> <span>用户管理</span>
                </a>
                    </li>
                    <li>
                        <a href="topiclist.html">
                            <i class="fa fa-folder"></i> <span>题库管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="examlist.html">
                            <i class="fa  fa-book"></i> <span>试卷管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="subjectlist.html">
                            <i class="fa   fa-clone"></i> <span>课程管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="exitSystem()">
                            <i class="fa   fa-sign-out"></i> <span>注销用户</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- 导航侧栏 /-->

        <!-- 内容区域 -->

        <div class="content-wrapper">
            <h2 align="center">重置密码</h2>
            <div class="row data-type">
                <div class="col-md-2 title">用户名</div>
                <div class="col-md-4 data">
                    <input type="text" class="form-control"  v-model="user.username" readonly>
                </div>
                <div class="col-md-2 title">新密码</div>
                <div class="col-md-4 data">
                    <input type="text" class="form-control"  v-model="user.password">
                </div>
                <div class="col-md-2 title"></div>
                <div class="col-md-10 data text-center">
                    <button type="button" class="btn bg-maroon" @click="resetPassword()">重置</button>
                    <button type="button" class="btn bg-default" onclick="history.back(-1);">返回</button>
                </div>

            </div>
        </div>




        <!-- @@close -->
        <!-- 内容区域 /-->

        <!-- 底部导航 -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.8
            </div>
            <strong>Copyright &copy; 2019-2020 <a href="https://www.sandau.edu.cn/">上海杉达学院</a>.</strong> All rights reserved.
        </footer>
        <!-- 底部导航 /-->
    </div>

    <script src="./plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="./plugins/jQueryUI/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="./plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="./plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="./plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="./plugins/fastclick/fastclick.js"></script>
    <script src="./plugins/iCheck/icheck.min.js"></script>
    <script src="./plugins/adminLTE/js/app.min.js"></script>
    <script src="./plugins/select2/select2.full.min.js"></script>
    <script src="./plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.zh-CN.js"></script>
    <script src="./plugins/input-mask/jquery.inputmask.js"></script>
    <script src="./plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="./plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="./plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="./plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    new Vue({
        el:"#main",
        data:{
            user:JSON.parse(sessionStorage.getItem("userinfo")),
        },
        methods:{
            resetPassword:function () {
                var _this = this;
                axios.post("rest/user/reset-password",_this.user).then(function (response) {
                    alert("重置成功!!!")
                    sessionStorage.removeItem("userinfo");
                    history.back(-1);
                }).catch(function (reason) {
                    checkToken(reason.response.status);
                    console.log(reason);
                })
            }
        },
        created:function () {
            console.log(JSON.parse(sessionStorage.getItem("userinfo")))
        }
    })
    //用户名
    $(function () {
        var user = sessionStorage.getItem("user");
        if(user != null && user != ''){
            $('#username').html('<p>'+ user + '</p>')
        }else{
            alert('请先登录!!!!');
            location.href='login.html';
        }
    })

</script>
</body>

</html>