<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>题库后台管理系统</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
    <script src="/webjars/vue/2.6.11/vue.min.js"></script>
    <script src="/webjars/axios/0.19.2/dist/axios.js"></script>
    <script src="js/my.js"></script>
    <link rel="stylesheet" href="./plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="./plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="./plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="./plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="./plugins/select2/select2.css">
    <link rel="stylesheet" href="./plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="./plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="hold-transition skin-purple sidebar-mini">

    <div class="wrapper" id="main">
        <!-- 页面头部 -->
        <header class="main-header">

        <!-- Logo -->
        <a href="all-admin-index.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>题库</b>后台管理</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </nav>
    </header>
        <!-- 页面头部 /-->
        <!-- 导航侧栏 -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel" style="height: 50px">
                    <div class="pull-left info" id="username">
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">菜单</li>
                    <li id="admin-index"><a href="home.html"><i class="fa fa-dashboard"></i> <span>首页</span></a></li>
                    <!-- 菜单 -->
                    <li>
                        <a href="userlist.html">
                    <i class="fa fa-user"></i> <span>用户管理</span>
                </a>
                    </li>
                    <li>
                        <a href="topiclist.html">
                            <i class="fa fa-folder"></i> <span>题库管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="examlist.html">
                            <i class="fa  fa-book"></i> <span>试卷管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="subjectlist.html">
                            <i class="fa   fa-clone"></i> <span>课程管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="exitSystem()">
                            <i class="fa  fa-sign-out"></i> <span>注销用户</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- 导航侧栏 /-->

        <!-- 内容区域 -->

        <div class="content-wrapper">
            <h2 align="center">新增题目</h2>
            <div class="row data-type">
                <div class="col-md-2 title rowHeight2x">题目内容</div>
                <div class="col-md-10 data rowHeight2x">
                    <textarea class="form-control" rows="3" placeholder="请输入..." v-model="topic.description"></textarea>
                </div>
                <div class="col-md-2 title rowHeight2x" style="height: 210px">选项</div>
                <div class="col-md-10 data rowHeight2x" style="height: 210px">
                    <select multiple="multiple" style="height: 170px;width: 100%;" v-model="chooseOption" @change="getOption($event)">
                        <option v-for="(item,index) in topic.optionsList" style="margin-top:10px" :value="index">
                            {{item.name}}.{{item.content}}
                        </option>
                    </select>
                    <div style="text-align: center">
                        <button type="button" class="btn bg-maroon" @click="insertOption()">添加选项</button>
                    </div>
                </div>
                <div class="col-md-2 title">正确答案</div>
                <div class="col-md-4 data">
                    <input type="text" class="form-control"  v-model="topic.correctkey">
                </div>
                <div class="col-md-2 title">分值</div>
                <div class="col-md-4 data">
                    <input type="text" class="form-control"  v-model="topic.topicmark">
                </div>
                <div class="col-md-2 title">难度</div>
                <div class="col-md-4 data">
                    <select class="form-control"  v-model="topic.difficult" @change="getDifficult($event)">
                        <option value="0" >易</option>
                        <option value="1" >中</option>
                        <option value="2" >难</option>
                    </select>
                </div>
                <div class="col-md-2 title">题目类型</div>
                <div class="col-md-4 data">
                    <select class="form-control"  v-model="topic.type" @change="getType($event)">
                        <option value="0" >判断题</option>
                        <option value="1" >单选题</option>
                        <option value="2" >多选题</option>
                    </select>
                </div>
                <div class="col-md-2 title">所属学科</div>
                <div class="col-md-4 data">
                    <select class="form-control"  v-model="topic.subject_id" @change="getSubject($event)">
                        <option v-for="subject in subjectList" :value="subject.id" >{{subject.name}}</option>
                    </select>
                </div>
                <div class="col-md-2 title"></div>
                <div class="col-md-4 data">
                </div>
                <div class="col-md-2 title rowHeight2x">解析</div>
                <div class="col-md-10 data rowHeight2x">
                    <textarea class="form-control" rows="3" v-model="topic.analysis"></textarea>
                </div>
                <div class="col-md-2 title"></div>
                <div class="col-md-10 data text-center">
                    <button type="button" class="btn bg-maroon" @click="insert()">保存</button>
                    <button type="button" class="btn bg-default" onclick="history.back(-1);">返回</button>
                </div>

            </div>
        </div>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
            <div class="modal-dialog" role="document">
                <div class="modal-content" >
                    <div class="modal-header">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="content" id="contentLabel"></label>
                            <input type="text" class="form-control" id="content"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="saveInsert()">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- @@close -->
        <!-- 内容区域 /-->

        <!-- 底部导航 -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.8
            </div>
            <strong>Copyright &copy; 2019-2020 <a href="https://www.sandau.edu.cn/">上海杉达学院</a>.</strong> All rights reserved.
        </footer>
        <!-- 底部导航 /-->
    </div>


    <script src="./plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="./plugins/jQueryUI/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="./plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="./plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="./plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="./plugins/fastclick/fastclick.js"></script>
    <script src="./plugins/iCheck/icheck.min.js"></script>
    <script src="./plugins/adminLTE/js/app.min.js"></script>
    <script src="./plugins/select2/select2.full.min.js"></script>
    <script src="./plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.zh-CN.js"></script>
    <script src="./plugins/input-mask/jquery.inputmask.js"></script>
    <script src="./plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="./plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="./plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="./plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function (e) {
            // 关键代码，如没将modal设置为 block，则$modala_dialog.height() 为零
            $(this).css('display', 'block');
            var modalHeight = $(window).height() / 2 - $('#myModel .modal-dialog').height() / 2;
            $(this).find('.modal-dialog').css({
                'margin-top': modalHeight
            });
        });
    </script>


<script>
    new Vue({
        el:"#main",
        data:{
         topic: {
                description:'',
                optionsList:[],
                correctkey:'',
                topicmark:'',
                difficult:'',
                type:'',
                subject_id:'',
                analysis:''
            },
        subjectList:[],
        chooseOption:'',
        },
        methods:{
        getSubject:function (event) {
            this.topic.subject_id = event.target.value;
            console.log(this.topic.subject_id );
        },
        getType:function (event) {
                this.topic.type = event.target.value;
                console.log(this.topic.type);
        },
        getDifficult:function (event) {
            this.topic.difficult = event.target.value;
            console.log(this.topic.difficult);
        },
        getOption:function (event) {
                this.chooseOption = event.target.value;
            },
        insert:function () {
            var vue = this;
            axios.post('rest/topic/insert',vue.topic).then(function (value) {
                alert("新增成功!!!");
                history.back(-1);
                console.log(value);
            }).catch(function (reason) {
                checkToken(reason.response.status);
                console.log(reason);
            })
        },
        insertOption:function () {
                if(this.topic.optionsList.length === 0){
                    $('#contentLabel').html("选项A:");
                }else {
                    var choice = this.topic.optionsList[this.topic.optionsList.length - 1].name;
                    $('#contentLabel').html("选项" + String.fromCharCode((choice.charCodeAt(0) + 1)) + ":");
                }
                $('#content').val('');
                $('#myModalLabel').val('新增选项');
            $('#myModal').modal('show');
        },
        saveInsert:function () {
            this.topic.optionsList.push({
                name:$('#contentLabel').html().substr(2,1),
                content:$('#content').val(),
            })
            $('#myModal').modal('hide');
            }
        },
        created:function () {
            var vue = this;
            axios.post('rest/common/sub/show').then(function (response) {
                vue.subjectList = response.data;
                console.log(vue.topic);
            }).catch(function (reason) {
                checkToken(reason.response.status);
                console.log(reason);
            })
        }
    })
    //用户名
    $(function () {
        var user = sessionStorage.getItem("user");
        if(user != null && user != ''){
            $('#username').html('<p>'+ user + '</p>')
        }else{
            alert('请先登录!!!!');
            location.href='login.html';
        }
    })

</script>
</body>

</html>